@import "./styles/reset.css";
// @import "./styles/queries.css";

///////**********************///////
///////***GENERAL STYLES*****///////
///////**********************///////

* {
	box-sizing: border-box;
	border-collapse: inherit;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-height: -webkit-fill-available;
	scroll-behavior: smooth;
	// background-color: #f6f6f2;
}

.container {
	padding: 2.5rem;
	min-height: 100%;
	// position: relative;
	font-family: "Josefin Sans", sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	display: grid;
	grid-gap: 4rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 20rem 20rem 20rem 20rem;
	// grid-template-rows: repeat(4, 1fr);
	overflow: auto;
}

.btn,
.btn:link,
.btn:visited {
	background-color: rgb(0, 0, 0);
	// border: none;
	color: #f6f6f2;
	padding: 1rem 2rem;
	// text-align: center;
	// font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 0.4rem 0.2rem;
	// cursor: pointer;
	border-radius: 1.6rem;
	transition: all ease 0.3s;
	// white-space: nowrap;

	display: inline-block;

	text-decoration: none;

	// padding: 1.6rem 3.2rem;
	// border-radius: 16px;

	/* Only necessary for .btn */
	border: none;
	cursor: pointer;
	font-family: inherit;

	/* Put transition on original "state" */
	/* transition: background-color 0.3s; */
	// transition: all 0.3s;
}

.box-borders {
	border-radius: 1.6rem;
	border-width: 0.4rem;
	border-style: inset;
	padding: 0.8rem;
}

///////**********************///////
///////******SCROLLBARS******///////
::-webkit-scrollbar {
	width: 1rem;
	height: 0.1rem;
}

::-webkit-scrollbar-track {
	background: #c2edce;
	border-radius: 100vw;
	margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: #c2edce;
	// border: 0.25em solid #c2edce;
	border-radius: 100vw;
}

::-webkit-scrollbar-track-piece {
	background: #1f4649;
	border-radius: 100vw;
}

::-webkit-scrollbar-corner {
	background: #c2edce;
}

///////**********************///////
/////////*******HEADER*****/////////
///////**********************///////
///
.header {
	grid-column-start: 1;
	grid-column-end: 4;
	border-color: #e6e6e2;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	background-image: url("/assets/images/bitmap.png"),
		url("/assets/images/waves.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.yd-logo {
	// justify-content: center;
	// margin: auto;
	// display: flex;
	// padding: 25px;
	// max-width: 100%;
	// max-height: 100%;
	// border: 2px solid pink;
	// align-self: center;
	display: none;
}

.logo {
	// max-width: 50px;
	// max-height: 50px;
	// display: inline-block;
	justify-self: flex-start;
}

.logo img {
	height: 3rem;
	width: 3rem;
	margin: 0.2rem;
	transition: all ease 0.3s;
}

.logo img:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.logo img {
	margin: -0.6rem 0.6rem;
}

.playbtn {
	margin: -0.2rem 0.6rem;
}

/**********************/
/********SIDEBAR********/
/**********************/

.left_side {
	grid-row-start: 2;
	grid-row-end: 4;
	// border: 0.4rem inset #388087;
	border-color: #388087;
	overflow: auto;
	text-align: center;
	// border-radius: 1.6rem;
	// padding: 0.8rem;
}

.left_side img {
	max-width: 100%;
	max-height: 100%;
	margin: 1.2rem 0;
}

svg {
	width: 85%;
	height: 85%;
	display: none;
	text-align: center;
	margin-left: 5rem;
	// -ms-transform: translateY(30%);
	// transform: translateY(5%);
	// transform: translateX(-10%);
}

// ::-webkit-resizer {
//     background: #EB69EC;
// }

/**********************/
/********DESIGN AREA********/
/**********************/

.design {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
	border-color: #badfe7;
	justify-content: center;
	display: inline-block;
}

.design_title {
	margin-bottom: 1rem;
}

.oopsbtn {
	float: right;
}

/**********************/
/********PALETTE********/
/**********************/

.palette {
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: span 3;
	vertical-align: text-top;
	// border: 4px inset #6fb3b8;
	border-color: #6fb3b8;
	// border-radius: 16px;
	// padding: 8px;
}

.pickedColors {
	max-width: 90%;
	max-height: 90%;
	display: inline-block;
	cursor: pointer;
}

.prevColor {
	height: 45px;
	width: 45px;
	display: inline-block;
}

path,
.colorPicker {
	cursor: pointer;
}

.imgcontainer {
	// overflow: auto;
	margin-bottom: 1rem;
}

.btn:hover {
	background-color: #c2edce;
	color: black;
	box-shadow: inset 0 0 0 2px #1f4649;
	transform: scale(1.03);
}

.btn:active {
	transform: scale(0.98);
}

.modal {
	display: none;
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal_content {
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	// color: #f6f6f2;
	color: #c2edce;
	overflow: auto;
}

.close {
	color: #c2edce;
	float: right;
	font-size: 20px;
	// font-weight: bold;
}

.close:hover,
.close:focus {
	color: #5ac4a9;
	text-decoration: none;
	cursor: pointer;
}

@media (orientation: portrait) {
	.orientation-message {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(255, 255, 255);
		color: black;
		font-size: 3.2rem;
		text-align: center;
		padding-top: 50%;
		z-index: 9999;
		font-family: "Josefin Sans", sans-serif;
	}

	.orientation-message img {
		max-width: 85%;
		max-height: 85%;
		margin-top: 4rem;
	}
}

@media (orientation: landscape) {
	.orientation-message {
		display: none;
	}
}

// QUERIES

/**************************/
/* BELOW 800px*/
/**************************/
@media (max-width: 50em) and (orientation: landscape) {
	.header {
		justify-content: center;
		// align-items: center;
	}

	.btn,
	.btn:link,
	.btn:visited {
		padding: 0.7rem 1.4rem;
		white-space: break-spaces;
		font-size: 1.4rem;
	}

	.logo img {
		margin: -0.6rem 0.6rem;
	}

	.playbtn {
		margin: -0.2rem 0.6rem;
	}
}

/**************************/
/* BELOW 740px (Phones) */
/**************************/

// @media (max-width: 46em) and (orientation: landscape) {
// 	.container {
// 		grid-gap: 2rem;
// 		grid-template-rows: 12rem 10rem 10rem 12rem;
// 	}
// }

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) and (orientation: landscape) {
	.container {
		grid-gap: 2rem;
		grid-template-rows: 12rem 10rem 10rem 12rem;
		font-size: 1.5rem;
	}

	.playbtn {
		padding: 0.3rem 0.6rem;
		font-size: 1rem;
	}

	.logo img {
		height: 1.5rem;
		width: 1.5rem;
	}

	#pumpBtn,
	#flatBtn,
	#snkrBtn,
	#oopsBtn {
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
	}
}
